.user-table {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

h1 {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user-table thead th {
  background-color: #007bff;
  color: white;
}

.user-table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.user-table tbody td {
  padding: 0.75rem;
  vertical-align: middle;
}

.user-table tbody td:nth-of-type(5) {
  text-transform: capitalize;
}

.user-table tbody td:nth-of-type(6),
.user-table tbody td:nth-of-type(10) {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .user-table {
    width: 100%;
  }
}
